<div>
    <h2>
        <span jhiTranslate="gatewayApp.businessUnit.home.title">Business Units</span>
        <button class="btn btn-primary float-right create-business-unit" [routerLink]="['/', { outlets: { popup: ['business-unit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.businessUnit.home.createLabel">
            Create new Business Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="businessUnits">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="gatewayApp.businessUnit.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="division"><span jhiTranslate="gatewayApp.businessUnit.division">Division</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="website"><span jhiTranslate="gatewayApp.businessUnit.website">Website</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mainPhone"><span jhiTranslate="gatewayApp.businessUnit.mainPhone">Main Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="otherPhone"><span jhiTranslate="gatewayApp.businessUnit.otherPhone">Other Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fax"><span jhiTranslate="gatewayApp.businessUnit.fax">Fax</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="gatewayApp.businessUnit.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="billToAddressStreet1"><span jhiTranslate="gatewayApp.businessUnit.billToAddress">Bill To Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shipToAddressStreet1"><span jhiTranslate="gatewayApp.businessUnit.shipToAddress">Ship To Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentName"><span jhiTranslate="gatewayApp.businessUnit.parent">Parent</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let businessUnit of businessUnits ;trackBy: trackId">
                <td><a [routerLink]="['../business-unit', businessUnit.id ]">{{businessUnit.id}}</a></td>
                <td>{{businessUnit.name}}</td>
                <td>{{businessUnit.division}}</td>
                <td>{{businessUnit.website}}</td>
                <td>{{businessUnit.mainPhone}}</td>
                <td>{{businessUnit.otherPhone}}</td>
                <td>{{businessUnit.fax}}</td>
                <td>{{businessUnit.email}}</td>
                <td>
                    <div *ngIf="businessUnit.billToAddressId">
                        <a [routerLink]="['../address', businessUnit.billToAddressId  ]" >{{businessUnit.billToAddressStreet1}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="businessUnit.shipToAddressId">
                        <a [routerLink]="['../address', businessUnit.shipToAddressId  ]" >{{businessUnit.shipToAddressStreet1}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="businessUnit.parentId">
                        <a [routerLink]="['../business-unit', businessUnit.parentId  ]" >{{businessUnit.parentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../business-unit', businessUnit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-unit/'+ businessUnit.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-unit/'+ businessUnit.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="businessUnits && businessUnits.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
