<div>
    <h2>
        <span jhiTranslate="gatewayApp.irModel.home.title">Ir Models</span>
        <button class="btn btn-primary float-right create-ir-model" [routerLink]="['/', { outlets: { popup: ['ir-model-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayApp.irModel.home.createLabel">
            Create new Ir Model
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="irModels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="model"><span jhiTranslate="gatewayApp.irModel.model">Model</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="gatewayApp.irModel.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="gatewayApp.irModel.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="info"><span jhiTranslate="gatewayApp.irModel.info">Info</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let irModel of irModels ;trackBy: trackId">
                <td><a [routerLink]="['../ir-model', irModel.id ]">{{irModel.id}}</a></td>
                <td>{{irModel.model}}</td>
                <td>{{irModel.name}}</td>
                <td>{{irModel.state}}</td>
                <td>{{irModel.info}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ir-model', irModel.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ir-model/'+ irModel.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ir-model/'+ irModel.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="irModels && irModels.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
